/* .container {
  height: 200px;
  position: relative;
  border: 3px solid green;
} */

.login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 46%;

}



.button {
  background-color: rgb(19, 126, 161);
  color: antiquewhite;
  padding: 15px 32px;
  transition-duration: 0.4s;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}
.button:hover {
  background-color: white; /* Green */
  color: black;
}
