<h1 mat-dialog-title>Employee Details</h1>
<div mat-dialog-content>



  <p><strong>Name:</strong>{{defaults.employeeName}}</p>
  <p><strong>DOB:</strong>{{defaults.dateOfBirth}} </p>
  <p><strong>Contact Number:</strong>{{defaults.contactNumber}} </p>
  <p><strong>Address:</strong>{{defaults.Address}}</p>
  <p><strong>Details:</strong>{{defaults.details}}</p>
  <!-- Add more details as needed -->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>



<!-- <p><strong>ID:</strong> {{ employee.id }}</p>
  <p><strong>Name:</strong> {{ employee.name }}</p>
  <p><strong>Position:</strong> {{ employee.position }}</p>
  <p><strong>Department:</strong> {{ employee.department }}</p> -->
  <!-- Add more details as needed -->
