// .example-spacer {
//   flex: 1 1 auto;
// }
// .main-body{
//   padding-top: 20px;
//   margin: 0 auto;
//   max-width: 1248px;
//   mat-form-field{
// width: 100%
//   };
//   width: 900px;

// }






















/* // .example-spacer {
//   flex: 1 1 auto;
// }
// .main-body{
//   padding-top: 20px;
//   margin: 0 auto;
//   max-width: 1248px;
//   mat-form-field{
// width: 100%
//   };
//   width: 900px;

// } */

/* .example-spacer {
  flex: 1 1 auto;
}
.container{
  height: 500px;
  position: relative;
  /* border: 3px solid green; */
/* } */
/*
.login{ */
  /* background-color: blue; */
  /* position: absolute;
  top: 50%;
  left: 45%;
 */

/* } */
/* .button{
  background-color: rgb(32, 152, 231);
  font-size: 18px;
  padding: 14px 40px; */
  /* position: absolute; */
  /* border-radius: 12px; */
  /* cursor: pointer;
} */


